@charset "UTF-8";

#menuBox {
	margin: 50px;
	margin-left: 100px;
}
#listBox {
	margin: 50px;
	width: 700px;
}

#listTitle {
	width: 350px;
}

/* .table {
	width: 200px;
}

.secondBox {
	font-size: 12px;
}

#listNo {
	width: 50px;
}

#listTitle {
	width: 100px;
}
#listWriter {
	width: 90px;
}

#listDate {
	width: 80px;
} */